<!DOCTYPE html>

		<nav class="navbar navbar-inverse navigate" data-spy="affix" data-offset-top="197">
			<ul class="nav navbar-nav navigate">
				<li><a class="navLink" href="/">Home</a>
			</ul>
		</nav>