
<div><h1>RESULTS</h1></div>
    <ul class="resultContainer" style="list-style: none;">
     <% results.forEach(function(data){ %>
       <li class="result"><a href="/<%= data.imdbID%>"><img src="<%= data.Poster %>" ><p><%= data.Title %></p><p> (<%= data.Year %>)</p></a></li>       
     <% }); %>
   </ul>

